/* Animacion carga*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heart-spinner {
  width: 20px;
  height: 20px;
  border: 4px solid rgba(40, 45, 208, 0.2);
  border-top-color: #282dd0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

/* Animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Animación de carga para el foro */
.foro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-container {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(40, 45, 208, 0.2);
  /* borde gris claro */
  border-top-color: #282dd0;
  /* borde azul (color principal) */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  animation: orbit 2s linear infinite;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(60px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(60px) rotate(-360deg);
  }
}

/* Hover Especialista */
.btn-reportar-hover {
  position: relative;
  overflow: visible;
}

.tooltip-hover {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  z-index: 10;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  font-size: 0.75rem;
  white-space: nowrap;
}

.btn-reportar-hover:hover .tooltip-hover {
  visibility: visible;
  opacity: 1;
}

/* estilos pa card especialistas */
.specialist-card {
  transition: all 0.3s ease;
  background: #ffffff;
  border-radius: 1rem;
}

.specialist-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.gradient-header {
  height: 90px;
  background: linear-gradient(135deg, #7c4dff, #651fff, #536dfe);
}

.specialist-avatar {
  margin-top: -75px;
}

.img-avatar {
  box-shadow: 0 0 0 5px #fff, 0 8px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.img-avatar:hover {
  transform: scale(1.05);
}

.specialist-body {
  padding-top: 10px;
}

.specialist-name {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.specialist-description {
  max-height: 70px;
  overflow-y: auto;
  line-height: 1.4;
}

.divider-line {
  width: 60%;
  border-top: 2px solid #536dfe;
}

/* === SCROLL STYLE === */
.descripcion-scroll::-webkit-scrollbar {
  width: 4px;
}

.descripcion-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}