.card-chat-item {
  max-width: 540px;
  cursor: pointer;
  height: 120px;
  transition: all 0.3s ease-in-out;
}

.card-chat-item:hover,
.card-chat-item.active {
  border: 2px solid #a442b2;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(164, 66, 178, 0.2);
}

.perfil-img {
  border-radius: 50% !important;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.lista-especialistas {
  max-height: 80vh;
  overflow-y: auto;
}

.chat-area {
  max-height: 80vh;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  padding: 1rem;
}

#lista-especialistas::-webkit-scrollbar {
  width: 8px;
}

#lista-especialistas::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.chat-container {
  border: 2px solid #a442b2;
  border-radius: 12px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(164, 66, 178, 0.1);
}

.mensaje {
  max-width: 70%;
  margin: 8px 0;
  padding: 10px 14px;
  border: 2px solid #a442b2;
  background-color: #fff;
  color: #333;
  border-radius: 16px;
  position: relative;
  word-wrap: break-word;
  line-height: 1.4;
  font-size: 0.95rem;
  box-shadow: 0 1px 4px rgba(164, 66, 178, 0.2);
  transition: background 0.3s;
}

.mensaje.usuario {
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.mensaje.especialista {
  margin-right: auto;
  border-bottom-left-radius: 0;
}

.hora-msg {
  font-size: 0.75rem;
  position: absolute;
  bottom: 4px;
  right: 12px;
  color: #999;
}

.msg-options {
  position: absolute;
  top: 4px;
  right: 8px;
  display: none;
}

.mensaje:hover .msg-options {
  display: flex;
  gap: 6px;
}

.msg-options button {
  background: none;
  border: none;
  padding: 0;
  color: #a442b2;
  font-size: 14px;
  cursor: pointer;
}

.msg-options button:hover {
  color: #6d2779;
}

@media (max-width: 768px) {
  #lista-especialistas,
  #chat-area {
    margin-bottom: 2rem;
  }

  .card-chat-item {
    height: auto;
    flex-direction: column;
  }

  .perfil-img {
    width: 60px;
    height: 60px;
  }
}
