:root {
  --color-primario-oscuro: #0a192f;
  --color-primario-medio: #1b3a57;
  --color-primario-claro: #3a6073;
  --color-secundario: #8db5c9;
  --color-acento1: #5ee6b5;
  --color-acento2: #f5c542;
  --color-fondo-claro: #f0f4f8;
  --color-texto-principal: #e5e7eb;
  --color-texto-secundario: #9ca3af;
}

.custom-search-wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    width: 34px;
}

.custom-search-input {
    width: 0;
    opacity: 0;
    border: none;
    border-bottom: 2px solid white;
    padding: 0;
    margin-left: 5px;
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    outline: none;
    transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.custom-search-input::placeholder {
    color: white;
    opacity: 0.8;
}

.custom-search-wrapper.active {
    width: 200px;
}

.custom-search-wrapper.active .custom-search-input {
    width: 200px;
    opacity: 1;
    padding: 0 8px;
}

.custom-search-icon {
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    transition: opacity 0.3s ease;
}

.custom-search-wrapper.active .custom-search-icon {
    opacity: 0;
    pointer-events: none;
}